* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    transition: all .4s;

    font-family: 'Inter', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

& {
    --main-color: rgb(229, 122, 68);
    --main-color-hover: rgb(229, 122, 68, 0.5);
    --box-shadow: 0 0.5rem 1rem rgba(0, 25, 7, 0.1);

    --bid-fz: calc(25px + (65 - 25) * ((100vw - 300px) / (1500 - 300)));
    --medium-fz: calc(16px + (35 - 16) * ((100vw - 300px) / (1500 - 300)));
    --small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1500 - 300)));
}

body {
    background: #000;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: var(--bid-fz);
    margin-bottom: 3rem;
    color: #eee;
}

.heading span{
    color: var(--main-color);
}

.heading span:hover{
    color: #ff95f4;
    cursor: pointer;
}

.header {
    margin: 2rem auto;
    width: calc(100% - 4rem);
    height: 10vh;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-head{
    text-align: center;
    font-size: var(--medium-fz);
    margin-bottom: 3rem;
    color: #eee;
}

.footer-head:hover{
    color: #ff95f4;
    cursor: pointer;
    transform: scale(1.05);
}

.footer-head:hover span{
    color: #ff9a9a;
}


.logo {
    font-size: var(--medium-fz);
    font-weight: 1000;
    color: var(--main-color);
}

.logo:hover{
    color: #ff95f4;
    cursor: pointer;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 20px;
}

/* Services section */
.services .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    flex: 1 1 35rem;
    box-shadow: var(--box-shadow);
    padding: 2.5em;
    border-radius: 2rem;
    transition: 0.8s;
    cursor: pointer;
    position: relative;
}

.services .box-container .box:hover{
    transform: scale(1.05);
    background: var(--main-color-hover);
}

.services .box-container .box span {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 5.5rem;
    color: var(--main-color);
    font-weight: 800;
    opacity: 0.6;
}
 
.services .box-container .box i {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--medium-fz);
    border-radius: 50%;
    color: var(--main-color);
    opacity: 0.8;
}

.services .box-container .box h3{
    color: #f68c57;
    font-size: var(--small-fz);
    padding: 1rem 0rem;;
    font-weight: 800;
}

.services .box-container .box p{
    color: #eee;
    font-size: 1.4rem;
    line-height: 1.3;
}


/* About section */

.members .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.members .box-container .box{
    flex: 1 1 35rem;
    height: 25rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 2rem;
    border: 0.5rem solid #ff9a9a;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.members .box-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.members .box-container .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fd7676;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transform: scale(0);
}

.members .box-container .box .content h5{
    font-size: var(--medium-fz);
    color: #eee;
    margin-bottom: 0.5rem;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: 0.3s;
}


.members .box-container .box .content p{
    font-size: var(--small-fz);
    color: #eee;
    transform: translateY(5rem);
    opacity: 0;
    transition-delay: 0.7s;
}

.members .box-container .box:hover{
    transform: scale(1.05);
    border-color: #ffc5c5;
    z-index: 999;
}

.members .box-container .box:hover
.content{
    transform: scale(1);
}

.members .box-container .box:hover
.content h5,
.members .box-container .box:hover
.content p {
    transform: translateY(0rem);
    opacity: 1;
}

.blob-outer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    inset: 0;
    margin: auto;
    filter: blur(100px);
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: #fff;
    transform: scale(0.6);
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #e57a44, #251351, #ff2626, #ff95f4);
    animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}